xmip==0.6.1.rc0
matplotlib==3.6.1
cmocean==2.0
numpy==1.23.3
intake==0.6.6
xarray==2022.12.0
dask==2022.9.2
cartopy==0.21.0
netcdf4==1.6.1
bottleneck==1.3.5
cf_xarray==0.7.4
google-auth==2.12.0
google-auth-oauthlib==0.5.3
google-cloud-core==2.3.2
google-cloud-storage==2.5.0
google-api-core==2.10.2
intake-esm==2022.9.18
zarr==2.13.3